.navbar-default .navbar-brand {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, cursive;
    font-weight: bold;
    color: white;
}

header {
    background-image: none;
    background-color: #666666;
}

.intro-heading {
    color: #880000;
}

#home-button {
    background-color: #442369;
    border-color: #442369;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus  {
    color: #bb0000;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #bb0000;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a {
    background-color: #bb0000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle {
    background-color: #bb0000;
    border-color: #bb0000;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: #442369;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #442369;
    border-color: #442369;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #442369;
}
